<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <!--<add key="connectionString" value="Data Source=MIRANDA;Initial Catalog=AdminTest;Integrated Security=True" />-->
    <add key="connectionString" value="workstation id=DBVentasSiromi.mssql.somee.com;packet size=4096;user id=miranda_SQLLogin_1;pwd=2oea4h2bdu;data source=DBVentasSiromi.mssql.somee.com;persist security info=False;initial catalog=DBVentasSiromi" />
  </appSettings>
</configuration>
